<ion-view title="Blessing After a Bread Meal" id="page28">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon No Icon" ng-click="openPopover($event)"> A | א</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <script id="my-popover.html" type="text/ng-template">
        <ion-popover-view style="height: 220px !important;">
          <ion-header-bar>
            <div class = "row">
              <div class = "col col-50" style="font-size: 9px; text-align:center;">
              A
              </div>
              <div class = " col-50" style="font-size: 11px; text-align:center">
              A
              </div>
            </div>
              </ion-header-bar>
              <ion-content>
              <a class="item" href="" ng-class="{'active': activeLanguage==1}" ng-click="languageSelected(1)" >Translit</a>
              <a class="item" href="" ng-class="{'active': activeLanguage==2}" ng-click="languageSelected(2)" >English</a>
              <a class="item" href="" ng-class="{'active': activeLanguage==3}" ng-click="languageSelected(3)" >Hebrew</a>


            </div>
          </ion-content>
        </ion-popover-view>
      </script>
    <!-- <div id="blessingAfterABreadMeal-button-bar14" class="button-bar languageBar">
      <button id="blessingAfterABreadMeal-button42" ng-class="{'active': activeLanguage==1}" ng-click="changeLanguage(1)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Translit</button>
      <button id="blessingAfterABreadMeal-button43" ng-class="{'active': activeLanguage==2}" ng-click="changeLanguage(2)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">English</button>
      <button id="blessingAfterABreadMeal-button44" ng-class="{'active': activeLanguage==3}" ng-click="changeLanguage(3)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Hebrew</button>
    </div> -->
    <div class="spacer" style="height: 11px;"></div>
    <div class="shach-content">
      <p style="text-align: justify;">
        <span style="color: #808080;">The grace after meals consists of four primary blessings — the first composed by Moses when the manna came down from heaven in the desert, the second by Joshua when the Children of Israel ate from the first harvest after entering the Holy Land,
          and the third by Kings David and Solomon, and the fourth by the Sages in mishnaic times.</span>
      </p>
      <p style="text-align: justify;">
        <span style="color: #808080;">The full "Grace", known as Birkat Hamazon, is recited only after partaking of a meal that includes bread. This blessing is also sometimes referred to as "benching."</span>
      </p>
      <p style="text-align: justify;">
        <span style="color: #808080;">
          <strong>Blessing Over After a Bread Meal:</strong>
        </span>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="blessingAfterABreadMeal-container35" ng-show="activeLanguage==2">
      <div class="shach-content">English Coming Soon!</div>
    </div>
    <div id="blessingAfterABreadMeal-container36" ng-show="activeLanguage==1">
      <div class="shach-content">
        <table style="background: #F2F2F2; border-collapse: collapse; border: none;">
          <tbody>
            <tr>
              <td style="width: 467.5pt; border: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="623">
                <p style="margin-bottom: .0001pt; line-height: normal;">
                  <strong>&nbsp;</strong>
                </p>
                <p style="margin-bottom: .0001pt; line-height: normal;">
                  <strong>Zimun: if three men, or more ate together, reader adds:</strong>
                </p>
                <p style="margin-bottom: .0001pt; line-height: normal;">
                  <strong>&nbsp;</strong>
                </p>
                <p style="margin-bottom: .0001pt; line-height: normal;">
                  <strong>Leader:</strong> Birshutkhem hav lan nevarekh.</p>
                <p style="margin-bottom: .0001pt; line-height: normal;">
                  <strong>Group:</strong> Nevarekh.</p>
                <p style="margin-bottom: .0001pt; line-height: normal;">
                  <strong>Leader:</strong> Nevarekh she-akhalnu mishello.</p>
                <p style="margin-bottom: .0001pt; line-height: normal;">
                  <strong>if 10 people present:</strong> &nbsp;Nevarekh elo-henu she-akhalnu mishello.</p>
                <p style="margin-bottom: .0001pt; line-height: normal;">
                  <strong>if there is a Chatan:</strong> Nevarekh elo-henu she-asimcha bim'ono she-akhalnu mishello.</p>
                <p style="margin-bottom: .0001pt; line-height: normal;">
                  <strong>Group: </strong>Barukh she-akhalnu mishello uvtuvo hagadol chayinu.</p>
                <p style="margin-bottom: .0001pt; line-height: normal;">
                  <strong>Leader:</strong> Barukh she-akhalnu mishello uvtuvo hagadol chayinu.</p>
                <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
              </td>
            </tr>
          </tbody>
        </table>
        <p style="text-align: justify;">
          <strong>&nbsp;</strong>
        </p>
        <p style="text-align: justify;">Barukh ata Ado-nai elo-henu melekh haʹolam, hael hazan otanu ve-et haʹolam kulo vetuvo, bechen bechessed berevach uv-rachamim rabbim, noten lechem lekhol bassar ki leʹolam chassdo, uvtuvo haggadol tamid lo chassar lanu ve-al yechssar lanu mazon
          tamid leʹolam vaʹed, ki hu el zan umfarness lakol ve shulchano ʹarukh lakol, ve hitkin michya umazon lekhol biriotav, asher bara berachamav uv-rov chassadav, kaamur pote-ach et yadekha umasbiaʹ lekhol chai ratson.</p>
        <p style="text-align: justify;">Barukh ata Ado-nai hazan et hakol.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">Node lekha Ado-nai elo-henu ʹal shehinchalta laavotenu erets chemda tova urchava, berit ve-torah, chaim umazon,&nbsp;ʹal shehotsetanu me-erets mitsrayim, ufditanu mibeth ʹavadim veʹal berit-kha shechatamta biv-sarenu, veʹal toratekha shelimadtanu,
          veʹal chuke retsonekha shehodaʹtanu, veʹal chaim umazon she-ata zan umfarness otanu.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">Veʹal hakol, Ado-nai elo-henu, anahnu modim lakh, umvarkhim et shemakh, kaamur, ve-akhalta vessavaʹta uverakhta et Ado-nai elohekha ʹal haarets hatova asher natan lakh.</p>
        <p style="text-align: justify;">Barukh ata Ado-nai ʹal haarets veʹal hamazon.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">Rachem Ado-nai elo-henu ʹalenu veʹal Ysrael ʹamakh, veʹal Yerushalaim ʹirakh, veʹal har tsion mishkan kevodakh, veʹal hekhalakh, veʹal meʹonakh, veʹal devirakh, veʹal habait hagadol vehakadosh shenikra shimkha ʹalav, avinu, reʹenu, zunenu, parnessenu,
          khalkelenu, harvichenu harvach lanu mehera mikol tsarotenu, vena al tatsrikhenu Ado-nai elo-henu lide matenot bassar vadam, velo lide halvaatam, ella leyadkha hamele-a veharchava, haʹashira, vehapetucha, yehi ratson shello nevosh baʹolam haze
          velo nikalem leʹolam haba, umalkhut beth David meshichakh tachazirenna lim-koma bim-hera beyamenu.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">Vetiv-ne Yerushalaim ʹirakh bimhera beyamenu,</p>
        <p style="text-align: justify;">Barukh ata Ado-nai bone berachamav binyan Yerushalaim,
          <em>[in a low voice, one adds Amen.]</em>
        </p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">Barukh ata Ado-nai Elo-henu melekh haʹolam, laʹad hael avinu, malkenu, adirenu, bor-enu, goalenu, kedoshenu, kedosh Yaʹakov, roʹenu roʹe Ysrael hamelekh hatov vehametiv lakol shebekhol yom vayom hu hetiv lanu, hu metiv lanu, hu yetiv lanu, hu
          gemalanu, hu gom-lenu, hu ygmelenu laʹad chen vachessed verachamim verevach vehatsala vekhol tov.</p>
        <p style="text-align: justify;">Harachaman hu yshtabach ʹal kisse kevodo.</p>
        <p style="text-align: justify;">Harachaman hu yshtabach bashamaim uvaarets.</p>
        <p style="text-align: justify;">Harachaman hu yshtabach banu ledor dorim.</p>
        <p style="text-align: justify;">Harachaman hu keren leʹamo yarim.</p>
        <p style="text-align: justify;">Harachaman hu ytpaar banu lanetsach netsachim.</p>
        <p style="text-align: justify;">Harachaman hu yefarnessenu bekhavod velo bevizuy, beheter velo be-issur, benachat velo betsaʹar.</p>
        <p style="text-align: justify;">Harachaman hu yten shalom benenu.</p>
        <p style="text-align: justify;">Harachaman hu yshlach berakha revacha vehatslacha bekhol maʹasse yadenu.</p>
        <p style="text-align: justify;">Harachaman hu yatsliach et derakhenu.</p>
        <p style="text-align: justify;">Harachaman hu yshbor ʹol galut mehera meʹal tsavarenu.</p>
        <p style="text-align: justify;">Harachaman hu yolikhenu mehera komemiut le-artsenu.</p>
        <p style="text-align: justify;">Harachaman hu yrparenu refua shelema refuat hanefesh ur-fuat haguf.</p>
        <p style="text-align: justify;">Harachaman hu yftach lanu et yado harechava.</p>
        <p style="text-align: justify;">Harachaman hu yevarekh kol echad ve-echad mimenu bishmo hagadol kemo shinit-barkhu avotenu, Avraham Ytschak ve-Yaʹakov bakol mikol kol, ken yevarekh otanu yachad berakha shelema vekhen yehi ratson venomar amen.</p>
        <p style="text-align: justify;">Harachaman hu yfross ʹalenu succat shelomo.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">Harachaman hu ytaʹ torato ve-ahavato belibenu, vetihye yr-ato ʹal panenu levilti necheta.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">Harachaman hu yechayenu vizakenu vikarvenu limot hamashiach ul-vinian Beth Hamikdash ulchaye haʹolam haba, magdil (*
          <strong>
            <em>migdol</em>
          </strong>) yeshuʹot malko, veʹosse chessed limshicho, leDavid ul-zarʹo ʹad ʹolam. Kefirim rashu veraʹevu,vedorshe Ado-nai lo yachsseru khol tov. Naʹar hayiti, gam zakan-ti velo ra-iti tsadik neʹezav vezarʹo mevakesh lachem. Kol hayom chonen umalve vezarʹo
          liv-rakha. Ma she-akhalnu yhye lessovʹa, uma sheshatinu yhye lir-fua, uma shehotarnu yhye liv-rakha, kedikhtiv, vayten lifnehem vayokhlu vayotiru kidvar Ado-nai. Berukhim atem lAdo-nai ʹosse shamaim va-arets. Barukh hagever asher yvtach bAdo-nai
          vehaya Ado-nai mivtacho. Ado-nai ʹoz leʹamo yten Ado-nai yevarekh et ʹamo bashalom. ʹOsse shalom bimromav hu berachamav yaʹasse shalom ʹalenu, veʹal kol ʹamo Ysrael ve-imru amen.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;">*The days one says Mussaf, on motse shabbat, at seuda Brit Mila, at seuda Purim..., one says Migdol.</p>
      </div>
    </div>
    <div id="blessingAfterABreadMeal-container37" ng-show="activeLanguage==3">
      <div class="shach-content">
        <p dir="rtl" align="center">
          <strong>לַמְנַצֵּחַ</strong>&nbsp;בִּנְגִינת מִזְמוֹר שִׁיר: אֱלֹהִים יְחָנֵּנוּ וִיבָרְכֵנוּ. יָאֵר פָּנָיו אִתָּנוּ סֶלָה: לָדַעַת בָּאָרֶץ דַּרְכֶּךָ. בְּכָל-גּוֹיִם יְשׁוּעָתֶךָ: יוֹדוּךָ עַמִּים אֱלֹהִים. יוֹדוּךָ עַמִּים כֻּלָּם: יִשְׂמְחוּ וִירַנְּנוּ
          לְאֻמִּים כִּי-תִשְׁפּט עַמִּים מִישׁר. וּלְאֻמִּים בָּאָרֶץ תַּנְחֵם סֶלָה: יוֹדוּךָ עַמִּים אֱלֹהִים. יוֹדוּךָ עַמִּים כֻּלָּם: אֶרֶץ נָתְנָה יְבוּלָהּ. יְבָרְכֵנוּ אֱלֹהִים אֱלֹהֵינוּ: יְבָרְכֵנוּ אֱלֹהִים. וְיִירְאוּ אוֹתוֹ כָּל-אַפְסֵי-אָרֶץ:</p>
        <p dir="rtl" align="center">
          <strong>אֲבָרְכָה</strong>&nbsp;אֶת-יי בְּכָל-עֵת. תָּמִיד תְּהִלָּתוֹ בְּפִי: סוֹף דָּבָר הַכּל נִשְׁמָע. אֶת-הָאֱלֹהִים יְרָא וְאֶת- מִצְוֹתָיו שְׁמוֹר, כִּי-זֶה כָּל-הָאָדָם: תְּהִלַּת יי יְדַבֶּר פִּי. וִיבָרֵךְ כָּל-בָּשָׂר שֵׁם קָדְשׁוֹ לְעוֹלָם
          וָעֶד: וַאֲנַחְנוּ נְבָרֵךְ יָהּ מֵעַתָּה וְעַד-עוֹלָם הַלְלוּיָהּ: וַיְדַבֵּר אֵלַי, זֶה הַשֻּׁלְחָן אֲשֶׁר לִפְנֵי יי:</p>
        <p dir="rtl" align="center">
          <span class="directions1">אם מברכים בזימון המברך אומר:&nbsp;</span>הַב לָן וְנִבְרִיךְ לְמַלְכָּא עִלָּאָה קַדִּישָׁא:
          <br>
          <span class="directions1">המסובים עונים:&nbsp;</span>שָׁמַיִם:
          <br>
          <span class="directions1">המברך אומר:&nbsp;</span>בִּרְשׁוּת מַלְכָּא עִלָּאָה קַדִּישָׁא,&nbsp;
          <br>
          <span class="directions1">בסוכות:&nbsp;</span>וּבִרְשׁוּת שִׁבְעָה אֻשְׁפִּיזִין עִלָּאִין קַדִּישִׁין
          <br>וּבִרְשׁוּת מוֹרַי וְרַבּוֹתַי וּבִרְשׁוּתְכֶם נְבָרֵך (
          <span class="directions1">בעשרה:&nbsp;</span>אֱלֹהֵינוּ) שֶׁאָכַלְנוּ מִשֶּׁלוֹ:
          <br>
          <span class="directions1">המסובים עונים:&nbsp;</span>בָּרוּךְ (
          <span class="directions1">בעשרה:&nbsp;</span>אֱלֹהֵינוּ) שֶׁאָכַלְנוּ מִשֶּׁלוֹ וּבְטוּבוֹ חָיִינוּ:</p>
        <p class="normal" dir="rtl" align="right">
          <strong>בָּרוּךְ</strong>&nbsp;אַתָּה יי, אֱלֹהֵינוּ מֶלֶךְ הָעוֹלָם, הָאֵל הַזָּן אוֹתָנוּ וְאֶת הָעוֹלָם כֻּלּוֹ בְּטוּבוֹ בְּחֵן בְּחֶסֶד בְּרֶוַח וּבְרַחֲמִים רַבִּים. נתֵן לֶחֶם לְכָל-בָּשָׂר. כִּי לְעוֹלָם חַסְדּוֹ: וּבְטוּבוֹ הַגָּדוֹל תָּמִיד
          לֹא חָסַר לָנוּ וְאַל יֶחְסַר לָנוּ מָזוֹן תָּמִיד לְעוֹלָם וָעֶד. כִּי הוּא אֵל זָן וּמְפַרְנֵס לַכּל וְשֻׁלְחָנוֹ עָרוּךְ לַכּל וְהִתְקִין מִחְיָה וּמָזוֹן לְכָל-בְּרִיּוֹתָיו אֲשֶׁר בָּרָא בְרַחֲמָיו וּבְרוֹב חֲסָדָיו כָּאָמוּר. פּוֹתֵחַ
          אֶת-יָדֶךָ. וּמַשְׂבִּיעַ לְכָל-חַי רָצוֹן: בָּרוּךְ אַתָּה יי, הַזָּן אֶת הַכּל:</p>
        <p class="normal" dir="rtl" align="right">
          <strong>נוֹדֶה</strong>&nbsp;לְּךָ יי אֱלֹהֵינוּ עַל שֶׁהִנְחַלְתָּ לַאֲבוֹתֵינוּ אֶרֶץ חֶמְדָּה טוֹבָה וּרְחָבָה בְּרִית וְתוֹרָה חַיִּים וּמָזוֹן. עַל שֶׁהוֹצֵאתָנוּ מֵאֶרֶץ מִצְרַיִם וּפְדִיתָנוּ מִבֵּית עֲבָדִים. וְעַל בְּרִיתְךָ שֶׁחָתַמְתָּ בִּבְשָׂרֵנוּ.
          וְעַל תּוֹרָתְךָ שֶׁלִּמַּדְתָּנוּ. וְעַל חֻקֵּי רְצוֹנָךְ שֶׁהוֹדַעְתָּנוּ. וְעַל חַיִּים וּמָזוֹן שֶׁאַתָּה זָן וּמְפַרְנֵס אוֹתָנוּ:</p>
        <table dir="rtl" border="1" width="90%">
          <tbody>
            <tr>
              <td>
                <p>
                  <strong>וְעַל הַנִּסִּים וְעַל הַפֻּרְקָן. וְעַל הַגְּבוּרוֹת. וְעַל הַתְּשׁוּעוֹת וְעַל הַנִּפְלָאוֹת וְעַל הַנֶּחָמוֹת שֶׁעָשִׂיתָ לַאֲבוֹתֵינוּ בַּיָּמִים הָהֵם בַּזְּמַן הַזֶּה:</strong>
                </p>
                <p>בחנוכה:&nbsp;</p>
                בִּימֵי מַתִּתְיָה בֶן יוֹחָנָן כּהֵן גָּדוֹל חַשְׁמוֹנָאי וּבָנָיו כְּשֶׁעָמְדָה מַלְכוּת יָוָן הָרְשָׁעָה עַל עַמְּךָ יִשְׂרָאֵל לְשַׁכְּחָם תּוֹרָתָךְ וּלְהַעֲבִירָם מֵחֻקֵּי רְצוֹנָךְ. וְאַתָּה בְרַחֲמֶיךָ הָרַבִּים עָמַדְתָּ לָהֶם בְּעֵת צָרָתָם.
                רַבְתָּ אֶת רִיבָם. דַּנְתָּ אֶת דִּינָם. נָקַמְתָּ אֶת נִקְמָתָם. מָסַרְתָּ גִּבּוֹרִים בְּיַד חַלָּשִׁים. וְרַבִּים בְּיַד מְעַטִּים. וּרְשָׁעִים בְּיַד צַדִּיקִים. וּטְמֵאִים בְּיַד טְהוֹרִים. וְזֵדִים בְּיַד עוֹסְקֵי תוֹרָתֶךָ. לְךָ
                עָשִׂיתָ שֵׁם גָּדוֹל וְקָדוֹשׁ בְּעוֹלָמָךְ. וּלְעַמְּךָ יִשְׂרָאֵל עָשִׂיתָ תְּשׁוּעָה גְדוֹלָה וּפֻרְקָן כְּהַיּוֹם הַזֶּה. וְאַחַר כָּךְ בָּאוּ בָנֶיךָ לִדְבִיר בֵּיתֶךָ וּפִנּוּ אֶת-הֵיכָלֶךָ. וְטִהֲרוּ אֶת-מִקְדָּשֶׁךָ. וְהִדְלִיקוּ
                נֵרוֹת בְּחַצְרוֹת קָדְשֶׁךָ. וְקָבְעוּ שְׁמוֹנַת יְמֵי חֲנֻכָּה אֵלּוּ בְּהַלֵּל וּבְהוֹדָאָה. וְעָשִׂיתָ עִמָּהֶם נִסִּים וְנִפְלָאוֹת וְנוֹדֶה לְשִׁמְךָ הַגָּדוֹל סֶלָה:
                <p>בפורים:&nbsp;</p>
                בִּימֵי מָרְדְּכַי וְאֶסְתֵּר בְּשׁוּשַׁן הַבִּירָה. כְּשֶׁעָמַד עֲלֵיהֶם הָמָן הָרָשָׁע. בִּקֵּשׁ לְהַשְׁמִיד לַהֲרוֹג וּלְאַבֵּד אֶת כָּל הַיְּהוּדִים מִנַּעַר וְעַד זָקֵן טַף וְנָשִׁים בְּיוֹם אֶחָד בִּשְׁלֹשָׁה עָשָׂר לְחֹדֶשׁ שְׁנֵים עָשָׂר הוּא
                חֹדֶשׁ אֲדָר וּשְׁלָלָם לָבוֹז. וְאַתָּה בְרַחֲמֶיךָ הָרַבִּים הֵפַרְתָּ אֶת עֲצָתוֹ. וְקִלְקַלְתָּ אֶת מַחֲשַׁבְתּוֹ. וַהֲשֵׁבוֹתָ לּוֹ גְּמוּלוֹ בְּראשׁוֹ. וְתָלוּ אוֹתוֹ וְאֶת בָּנָיו עַל הָעֵץ. וְעָשִׂיתָ עִמָּהֶם נִסִּים וְנִפְלָאוֹת
                וְנוֹדֶה לְשִׁמְךָ הַגָּדוֹל סֶלָה:
                <p>&nbsp;</p>
              </td>
            </tr>
          </tbody>
        </table>
        <p dir="rtl" align="right">
          <strong>וְעַל</strong>&nbsp;הַכּל יי אֱלֹהֵינוּ אֲנַחְנוּ מוֹדִים לָךְ וּמְבָרְכִים אֶת שְׁמָךְ כָּאָמוּר וְאָכַלְתָּ וְשָׂבָעְתָּ. וּבֵרַכְתָּ אֶת-יי אֱלֹהֶיךָ עַל-הָאָרֶץ הַטּוֹבָה אֲשֶׁר נָתַן-לָךְ: בָּרוּךְ אַתָּה יי, עַל הָאָרֶץ וְעַל הַמָּזוֹן:</p>
        <p dir="rtl" align="right">
          <strong>רַחֵם</strong>&nbsp;יי אֱלֹהֵינוּ עָלֵינוּ וְעַל יִשְׂרָאֵל עַמָּךְ. וְעַל יְרוּשָׁלַיִם עִירָךְ. וְעַל הַר צִיּוֹן מִשְׁכַּן כְּבוֹדָךְ. וְעַל הֵיכָלָךְ. וְעַל מְעוֹנָךְ. וְעַל דְּבִירָךְ. וְעַל הַבַּיִת הַגָּדוֹל וְהַקָּדוֹשׁ שֶׁנִּקְרָא שִׁמְךָ
          עָלָיו. אָבִינוּ רְעֵנוּ זוּנֵנוּ. פַּרְנְסֵנוּ. כַּלְכְּלֵנוּ. הַרְוִיחֵנוּ הַרְוַח לָנוּ מְהֵרָה מִכָּל-צָרוֹתֵינוּ. וְנָא אַל תַּצְרִיכֵנוּ יי אֱלֹהֵינוּ לִידֵי מַתְּנוֹת בָּשָׂר וָדָם. וְלֹא לִידֵי הַלְוָאָתָם. אֶלָּא לְיָדְךָ הַמְּלֵאָה
          וְהָרְחָבָה. הָעֲשִׁירָה וְהַפְּתוּחָה. יְהִי רָצוֹן שֶׁלּא נֵבוֹשׁ בָּעוֹלָם הַזֶּה. וְלֹא נִכָּלֵם לְעוֹלָם הַבָּא. וּמַלְכוּת בֵּית דָּוִד מְשִׁיחָךְ תַּחֲזִירֶנָּה לִמְקוֹמָהּ בִּמְהֵרָה בְיָמֵינוּ:</p>
        <table dir="rtl" border="1" width="90%">
          <tbody>
            <tr>
              <td style="width: 767px;">
                <p>אֱלֹהֵינוּ וֵאלֹהֵי אֲבוֹתֵינוּ יַעֲלֶה וְיָבא וְיַגִּיעַ וְיֵרָאֶה וְיֵרָצֶה וְיִשָּׁמַע וְיִפָּקֵד וְיִזָּכֵר זִכְרוֹנֵנוּ וְזִכְרוֹן אֲבוֹתֵינוּ. זִכְרוֹן יְרוּשָׁלַיִם עִירָךְ. וְזִכְרוֹן מָשִׁיחַ בֶּן דָּוִד עַבְדָּךְ. וְזִכְרוֹן
                  כָּל עַמְּךָ בֵּית יִשְׂרָאֵל לְפָנֶיךָ לִפְלֵיטָה לְטוֹבָה. לְחֵן לְחֶסֶד וּלְרַחֲמִים. לְחַיִּים טוֹבִים וּלְשָׁלוֹם. בְּיוֹם</p>
                <br>חַג הַמַּצוֹת הַזֶּה / חַג הַסֻּכּוֹת הַזֶּה: / ראשׁ הַחֹדֶשׁ הַזֶּה&nbsp;
                <br>(בְּיוֹם מִקְרָא קדֶשׁ הַזֶּה)&nbsp;
                <br>
                <p>לְרַחֵם בּוֹ עָלֵינוּ וּלְהוֹשִׁיעֵנוּ. זָכְרֵנוּ יי אֱלֹהֵינוּ בּוֹ לְטוֹבָה. וּפָקְדֵנוּ בוֹ לִבְרָכָה. וְהוֹשִׁיעֵנוּ בוֹ לְחַיִּים טוֹבִים. בִּדְבַר יְשׁוּעָה וְרַחֲמִים. חוּס וְחָנֵּנוּ וַחֲמוֹל וְרַחֵם עָלֵינוּ. וְהוֹשִׁיעֵנוּ כִּי
                  אֵלֶיךָ עֵינֵינוּ. כִּי אֵל מֶלֶךְ חַנּוּן וְרַחוּם אָתָּה:</p>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="normal" dir="rtl" align="right">
          <strong>וְתִבְנֶה</strong>&nbsp;יְרוּשָׁלַיִם עִירָךְ בִּמְהֵרָה בְיָמֵינוּ: בָּרוּךְ אַתָּה יי, בּוֹנֵה יְרוּשָׁלָיִם. (
          <span class="directions1">ואומר בלחש:</span>&nbsp;אָמֵן):</p>
        <p dir="rtl" align="right">
          <strong>בָּרוּךְ</strong>&nbsp;אַתָּה יי, אֱלֹהֵינוּ מֶלֶךְ הָעוֹלָם, לָעַד הָאֵל אָבִינוּ מַלְכֵּנוּ אַדִּירֵנוּ. בּוֹרְאֵנוּ. גּוֹאֲלֵנוּ. קְדוֹשֵׁנוּ. קְדוֹשׁ יַעֲקב. רוֹעֵנוּ רוֹעֵה יִשְׂרָאֵל. הַמֶּלֶךְ הַטּוֹב וְהַמֵּטִיב לַכּל. שֶׁבְּכָל-יוֹם
          וָיוֹם הוּא הֵטִיב לָנוּ. הוּא מֵטִיב לָנוּ. הוּא יֵיטִיב לָנוּ. הוּא גְמָלָנוּ. הוּא גוֹמְלֵנוּ. הוּא יִגְמְלֵנוּ לָעַד חֵן וָחֶסֶד וְרַחֲמִים וְרֵיוַח וְהַצָּלָה וְכָל-טוֹב:</p>
        <p dir="rtl" align="right">
          <strong>הָרַחֲמָן</strong>&nbsp;הוּא יִשְׁתַּבַּח עַל כִּסֵּא כְבוֹדוֹ: הָרַחֲמָן הוּא יִשְׁתַּבַּח בַּשָּׁמַיִם וּבָאָרֶץ: הָרַחֲמָן הוּא יִשְׁתַּבַּח בָּנוּ לְדוֹר דּוֹרִים: הָרַחֲמָן הוּא קֶרֶן לְעַמּוֹ יָרִים: הָרַחֲמָן הוּא יִתְפָּאַר בָּנוּ לָנֶצַח
          נְצָחִים: הָרַחֲמָן הוּא יְפַרְנְסֵנוּ בְּכָבוֹד וְלֹא בְבִזּוּי בְּהֶתֵּר וְלֹא בְאִסּוּר בְּנַחַת וְלֹא בְצָעַר: הָרַחֲמָן הוּא יִתֵּן שָׁלוֹם בֵּינֵינוּ: הָרַחֲמָן הוּא יִשְׁלַח בְּרָכָה רְוָחָה וְהַצְלָחָה בְּכָל-מַעֲשֵׂה יָדֵינוּ: הָרַחֲמָן
          הוּא יַצְלִיחַ אֶת דְּרָכֵינוּ: הָרַחֲמָן הוּא יִשְׁבּוֹר עוֹל גָּלוּת מְהֵרָה מֵעַל צַוָּארֵנוּ: הָרַחֲמָן הוּא יוֹלִיכֵנוּ מְהֵרָה קוֹמְמִיּוּת בְּאַרְצֵנוּ: הָרַחֲמָן הוּא יִרְפָּאֵנוּ רְפוּאָה שְׁלֵמָה רְפוּאַת הַנֶּפֶשׁ וּרְפוּאַת הַגּוּף:
          הָרַחֲמָן הוּא יִפְתַּח לָנוּ אֶת יָדוֹ הָרְחָבָה: הָרַחֲמָן הוּא יְבָרֵךְ כָּל אֶחָד וְאֶחָד מִמֶּנּוּ בִּשְׁמוֹ הַגָּדוֹל כְּמוֹ שֶׁנִּתְבָּרְכוּ אֲבוֹתֵינוּ אַבְרָהָם יִצְחָק וְיַעֲקב בַּכּל מִכּל כּל. כֵּן יְבָרֵךְ אוֹתָנוּ יַחַד בְּרָכָה
          שְׁלֵמָה. וְכֵן יְהִי רָצוֹן וְנאמַר אָמֵן: הָרַחֲמָן הוּא יִפְרוֹשׂ עָלֵינוּ סֻכַּת שְׁלוֹמוֹ:</p>
        <table dir="rtl" border="1" width="90%">
          <tbody>
            <tr>
              <td>
                <strong>בראש חודש:</strong>&nbsp;הָרַחֲמָן הוּא יְחַדֵּשׁ עָלֵינוּ אֶת הַחֹדֶשׁ הַזֶּה לְטוֹבָה וְלִבְרָכָה:&nbsp;
                <br>
                <strong>בסוכות:</strong>&nbsp;הָרַחֲמָן הוּא יְזַכֵּנוּ לֵישֵׁב בְּסֻכַּת עוֹרוֹ שֶׁל לִוְיָתָן: הָרַחֲמָן הוּא יַשְׁפִּיעַ עָלֵינוּ שֶׁפַע קְדֻשָּׁה וְטָהֳרָה מִשִּׁבְעָה אוּשְׁפִּיזִין עִלָּאִין קַדִּישִׁין. זְכוּתָם תְּהֵא מָגֵן וְצִנָּה עָלֵינוּ:
                הָרַחֲמָן הוּא יָקִים לָנוּ אֶת סֻכַּת דָּוִד הַנּוֹפֶלֶת:&nbsp;
                <br>במועדים: הָרַחֲמָן הוּא יַגִּיעֵנוּ לְמוֹעֲדִים אֲחֵרִים הַבָּאִים לִקְרָאתֵנוּ לְשָׁלוֹם:</td>
            </tr>
          </tbody>
        </table>
        <p dir="rtl" align="right">הָרַחֲמָן הוּא יִטַּע תּוֹרָתוֹ וְאַהֲבָתוֹ בְּלִבֵּנוּ וְתִהְיֶה יִרְאָתוֹ עַל פָּנֵינוּ לְבִלְתִּי נֶחֱטָא. וְיִהְיוּ כָל-מַעֲשֵׂינוּ לְשֵׁם שָׁמָיִם:</p>
        <table dir="rtl" border="1" width="90%">
          <tbody>
            <tr>
              <td>
                <p class="directions1" align="right">ברכת האורח:&nbsp;
                  <br>הָרַחֲמָן הוּא יְבָרֵךְ אֶת הַשֻּׁלְחָן הַזֶּה שֶׁאָכַלְנוּ עָלָיו וִיסַדֵּר בּוֹ כָּל מַעֲדַנֵּי עוֹלָם וְיִהְיֶה כְּשֻׁלְחָנוֹ שֶׁל אַבְרָהָם אָבִינוּ (עָלָיו הַשָּׁלוֹם), כָּל רָעֵב מִמֶּנּוּ יאכַל, וְכָל צָמֵא מִמֶּנּוּ יִשְׁתֶּה.
                  וְאַל יֶחְסַר מִמֶּנּוּ כָּל טוּב לָעַד וּלְעוֹלְמֵי עוֹלָמִים: הָרַחֲמָן הוּא יְבָרֵךְ אֶת בַּעַל הַבַּיִת הַזֶּה וּבַעַל הַסְּעֻדָּה הַזּאת. הוּא וּבָנָיו וְאִשְׁתּוֹ וְכָל אֲשֶׁר לוֹ. בְּבָנִים שֶׁיִּחְיוּ. וּבִנְכָסִים שֶׁיִּרְבּוּ.
                  בָּרֵךְ יי חֵילוֹ וּפעַל יָדָיו תִּרְצֶה. וְיִהְיוּ נְכָסָיו וּנְכָסֵינוּ מֻצְלָחִים וּקְרוֹבִים לָעִיר. וְאַל יִזְדַּקֵּק לְפָנָיו וְלֹא לְפָנֵינוּ שׁוּם דְּבַר חֵטְא וְהִרְהוּר עָוֹן. שָׂשׂ וְשָׂמֵחַ כָּל הַיָּמִים בְּעשֶׁר וְכָבוֹד
                  מֵעַתָּה וְעַד עוֹלָם. לֹא יֵבוֹשׁ בָּעוֹלָם הַזֶּה וְלֹא יִכָּלֵם לָעוֹלָם הַבָּא. אָמֵן כֵּן יְהִי רָצוֹן:</p>
              </td>
            </tr>
          </tbody>
        </table>
        <p dir="rtl" align="right">הָרַחֲמָן הוּא יְחַיֵּינוּ וִיזַכֵּנוּ וִיקָרְבֵנוּ לִימוֹת הַמָּשִׁיחַ וּלְבִנְיַן בֵּית הַמִּקְדָּשׁ וּלְחַיֵּי הָעוֹלָם הַבָּא. [מִגְדּוֹל / מַגְדִּיל] יְשׁוּעוֹת מַלְכּוֹ. וְעֹשֶׂה-חֶסֶד לִמְשִׁיחוֹ לְדָוִד וּלְזַרְעוֹ עַד-עוֹלָם: כְּפִירִים
          רָשׁוּ וְרָעֵבוּ. וְדרְשֵׁי יי לֹא-יַחְסְרוּ כָל-טוֹב: נַעַר הָיִיתִי גַּם-זָקַנְתִּי וְלֹא-רָאִיתִי צַדִּיק נֶעֱזָב. וְזַרְעוֹ מְבַקֶּשׁ-לָחֶם: כָּל-הַיּוֹם חוֹנֵן וּמַלְוֶה. וְזַרְעוֹ לִבְרָכָה: מַה שֶּׁאָכַלְנוּ יִהְיֶה לְשָׂבְעָה. וּמַה
          שֶּׁשָּׁתִינוּ יִהְיֶה לִרְפוּאָה. וּמַה שֶּׁהוֹתַרְנוּ יִהְיֶה לִבְרָכָה כְּדִכְתִיב וַיִּתֵּן לִפְנֵיהֶם וַיּאכְלוּ וַיּוֹתִירוּ כִּדְבַר יי: בְּרוּכִים אַתֶּם לַיי. עוֹשֵׂה שָׁמַיִם וָאָרֶץ: בָּרוּךְ הַגֶּבֶר אֲשֶׁר יִבְטַח בַּיי. וְהָיָה
          יי מִבְטָחוֹ: יי עֹז לְעַמּוֹ יִתֵּן. יי יְבָרֵךְ אֶת-עַמּוֹ בַשָּׁלוֹם:</p>
        <p dir="rtl" align="right">עוֹשֶׂה שָׁלוֹם בִּמְרוֹמָיו הוּא בְרַחֲמָיו יַעֲשֶׂה שָׁלוֹם עָלֵינוּ וְעַל כָּל-עַמּוֹ יִשְׂרָאֵל וְאִמְרוּ אָמֵן:</p>
      </div>
    </div>
  </ion-content>
</ion-view>
