<ion-view title="Blessing Over Bread" id="page14">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon No Icon" ng-click="openPopover($event)"> A | א</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <script id="my-popover.html" type="text/ng-template">
        <ion-popover-view style="height: 224px !important;">
          <ion-content>
            <div class = "row">
              <div class = "col col-50" style="font-size: 9px; text-align:center;">
              A
              </div>
              <div class = "col col-50" style="font-size: 11px; text-align:center">
              A
              </div>
            </div>
              <a class="item" href="" ng-class="{'active': activeLanguage==1}" ng-click="languageSelected(1)" >Translit</a>
              <a class="item" href="" ng-class="{'active': activeLanguage==2}" ng-click="languageSelected(2)" >English</a>
              <a class="item" href="" ng-class="{'active': activeLanguage==3}" ng-click="languageSelected(3)" >Hebrew</a>


            </div>
          </ion-content>
        </ion-popover-view>
      </script>

    <!-- <div id="blessingOverBread-button-bar8" class="button-bar languageBar">
      <button id="blessingOverBread-button24" ng-class="{'active': activeLanguage==1}" ng-click="changeLanguage(1)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Translit</button>
      <button id="blessingOverBread-button25" ng-class="{'active': activeLanguage==2}" ng-click="changeLanguage(2)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">English</button>
      <button id="blessingOverBread-button26" ng-class="{'active': activeLanguage==3}" ng-click="changeLanguage(3)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Hebrew</button>
    </div> -->
    <div class="spacer" style="height: 11px;"></div>
    <div>
      <p style="text-align: justify;">
        <span style="color: #808080;">Bread made from the five species of grains identified by our sages (wheat, barley, rye, spelt or oat) require the blessing "Hamotzi". In order to be considered bread, the liquid ingredient has to be primarily water and it has to be baked. Dough
          that uses more oil or fruit juice than water (like pastries), or dough that is fried or cooked (like pasta) is not regarded as "bread." </span>
      </p>
      <p style="text-align: justify;">
        <span style="color: #808080;">When eating a meal that includes bread, begin your meal by washing, making the "Hamotzi" blessing, and eating a piece of bread. The Hamotzi blessing will "cover" everything you eat as part of the meal (except for dessert and wine). "Grace After
          Meals," recited after the meal, will cover everything you've eaten.</span>
      </p>
      <p style="text-align: justify;">
        <span style="color: #808080;">
          <strong>Blessing Over Bread:</strong>
        </span>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="blessingOverBread-container17" ng-show="activeLanguage==2">
      <div>Blessed are You, L-rd our G‑d, King of the Universe, Who brings forth bread from the earth.</div>
    </div>
    <div id="blessingOverBread-container18" ng-show="activeLanguage==1">
      <div>Baruch atah A-donay, Elo-heinu Melech Ha’Olam Hamotzi lechem min haaretz.</div>
    </div>
    <div id="blessingOverBread-container19" ng-show="activeLanguage==3">
      <p dir="rtl">בָּרוּךְ אַתָּה יְ‑יָ אֱ‑לֹהֵינוּ מֶלֶךְ הָעוֹלָם הַמּוֹצִיא לֶחֶם מִן הָאָרֶץ:</p>
    </div>
  </ion-content>
</ion-view>
