<ion-view title="Minyan Map" id="page8" >

  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon No Icon" ng-click="opencustomurl()">Add Shul</button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div id="minyanMap-container38">
      <form id="minyanMap-form2" class="list">
        <div class="item item-input" id="minyanMap-search1">
          <i class="icon ion-search placeholder-icon"></i>
    
          <input type="text" id="searchTextField" placeholder="Search by Address, City, Zip" data-tap-disabled="true" ng-change='disableTap()' ng-model="search"> 
          <i id="demo" ng-click="clearsearch()" class="icon ion-close placeholder-icon" style="margin-right: 10px"></i>
        </div>
      </form>
    </div>

    <!--Google Maps View of Shuls-->
    <div style="  height: 200px; width: 100%; background-color: #CCC;" id="map-canvas"></div>

    <!--List of Shuls-->
    <div class="cardView" ng-if="shulData.total==0">
      No Minyan Found for the selected location.
    </div>

    <ion-spinner name="crescent"  ng-if="loading" >Loading</ion-spinner>

    <ion-list id="minyanMap-list12" ng-repeat="shul in shulData.shuls">
      <ion-item class="item-icon-right" id="minyanMap-list-item47" ui-sref="siddurCloud.SelectedShul({id:shul.id})">
        <h3 class="capitalize">{{shul.name}}</h3>
        <p>{{shul.formatted_address}}</p>
        <div ng-if="shul.nextMinyan">
          <span class="minyanFound">{{shul.nextMinyan.type}} {{shul.nextMinyan.time}}</span>
        </div>
        <div ng-if="!shul.nextMinyan">
            <span class="noMinyanFound">No Upcoming minyan today</span>
        </div>
        <i class="icon ion-ios-arrow-right icon-accessory right-arrow"></i>

      </ion-item>
    </ion-list>
    <div class="pagination" ng-if="!loading && shulData.total!=0">
      <a >&laquo;</a>
      <button ng-repeat="(key, value) in pageinationlen track by $index" ng-class="{'active':currentPage == $index+1}" ng-click="getDefaultList({{$index+1}})">{{$index+1}} </button>
      <a >&raquo;</a>
  </div>

  </ion-content>
</ion-view>
