<ion-view title="Mourner's Kaddish" id="page12">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon No Icon" ng-click="openPopover($event)"> A | א</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <script id="my-popover.html" type="text/ng-template">
        <ion-popover-view style="height: 224px !important;">
          <ion-header-bar>

            <div class = "row">
              <div class = "col col-50" style="font-size: 9px; text-align:center;">
              A
              </div>
              <div class = " col-50" style="font-size: 11px; text-align:center">
              A
              </div>
            </div>
            </ion-header-bar>
              <ion-content>

              <a class="item" href="" ng-class="{'active': activeLanguage==1}" ng-click="languageSelected(1)" >Translit</a>
              <a class="item" href="" ng-class="{'active': activeLanguage==2}" ng-click="languageSelected(2)" >English</a>
              <a class="item" href="" ng-class="{'active': activeLanguage==3}" ng-click="languageSelected(3)" >Hebrew</a>


            </div>
          </ion-content>
        </ion-popover-view>
      </script>
    <!-- <div id="mournersKaddish-button-bar6" class="button-bar languageBar">
      <button id="mournersKaddish-button15" ng-class="{'active': activeLanguage==1}" ng-click="changeLanguage(1)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Translit</button>
      <button id="mournersKaddish-button19" ng-class="{'active': activeLanguage==2}" ng-click="changeLanguage(2)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">English</button>
      <button id="mournersKaddish-button20" ng-class="{'active': activeLanguage==3}" ng-click="changeLanguage(3)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Hebrew</button>
    </div> -->
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="mournersKaddish-container11" ng-show="activeLanguage==2">
      <p class="shach-content">English Coming Soon! Stay Tuned for Updates!</p>
    </div>
    <div id="mournersKaddish-container12" ng-show="activeLanguage==1">
      <div class="shach-content">
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">
          <span style="color: #000000;">
            <strong>Yi</strong>tgaddal veitkaddash shemeh raba ,&nbsp;
            <span style="background-color: #ffff99;">
              <em>(amen)</em>
            </span>
          </span>
        </p>
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">&nbsp;</p>
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">
          <span style="color: #000000;">
            <strong>Be</strong>
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>alma di vera kir
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>uteh, veyamlikh malkhuteh, veyatsmach purkaneh vikarev meshicheh. &nbsp;
            <span style="background-color: #ffff99;">
              <em>(amen)</em>
            </span>
          </span>
        </p>
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">&nbsp;</p>
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">
          <span style="color: #000000;">
            <strong>Be</strong>chayekhon uv-yomekhon uv-chaye dekhol beth Ysrael, ba
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>agala uvizman kariv ve-imru amen. &nbsp;&nbsp;</span>
          <span style="background-color: #ffff99;">
            <em style="color: #000000;">(amen)</em>
          </span>
        </p>
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">&nbsp;</p>
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">
          <span style="color: #000000;">
            <span style="background-color: #ffff99;">
              <strong>Ye</strong>he shemeh raba mevarakh, le
              <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>alam ul
              <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>olme&nbsp;
              <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>almaya yit-barakh</span>, </span>
          <span style="color: #000000;">veyish-tabach, veyt-paar, veyt-romam, veyt-nasse, veyt-haddar, veyt
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>ale,&nbsp;</span>
          <span style="color: #000000;">veyt-halal, shemeh dekudsha, berikh hu. &nbsp;&nbsp;</span>
          <span style="background-color: #ffff99;">
            <em style="color: #000000;">(amen)</em>
          </span>
        </p>
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">&nbsp;</p>
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">
          <span style="color: #000000;">
            <strong>Le</strong>
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>ela min kol birkhata, shirata tishbechata venechamata, daamiran be
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>alma, ve-imru amen. &nbsp;</span>
          <span style="background-color: #ffff99;">
            <em style="color: #000000;">(amen)</em>
          </span>
        </p>
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">&nbsp;</p>
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">
          <span style="color: #000000;">
            <strong>Ye</strong>he shelama rabba min shemaya, chaim vessava
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>, vishu
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>a, </span>
          <span style="color: #000000;">venechama, veshezava, urfua, ug-ula, uss-licha, vekhapara, </span>
          <span style="color: #000000;">verevach, vehatsala, lanu ulkhol&nbsp;
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>amo Ysrael ve-imru amen. &nbsp;
            <span style="background-color: #ffff99;">
              <em>(amen)</em>
            </span>
          </span>
        </p>
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">&nbsp;</p>
        <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: 'Helvetica Neue'; color: #454545; text-align: justify;">
          <span style="color: #000000;">
            <strong>
              <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>Osse</strong> shalom bim-romav, hu berachamav ya
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>asse shalom&nbsp;
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>alenu ve
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>al&nbsp;</span>
          <span style="color: #000000;">kol&nbsp;
            <span style="font-stretch: normal; line-height: normal; font-family: 'Lucida Grande';">ʹ</span>amo Ysrael ve-imru amen. &nbsp;&nbsp;</span>
          <span style="background-color: #ffff99;">
            <em style="color: #000000;">(amen)</em>
          </span>
        </p>
      </div>
    </div>
    <div id="mournersKaddish-container13" ng-show="activeLanguage==3">
      <div class="shach-content">
        <p dir="rtl">יִתְגַּדַּל וְיִתְקַדַּשׁ שְׁמֵהּ רַבָּא.
          <span style="background-color: #ffff99;">[אמן]</span>
        </p>
        <p dir="rtl">בְּעָלְמָא דִּי בְרָא כִרְעוּתֵהּ וְיַמְלִיךְ מַלְכוּתֵהּ בְּחַיֵּיכון וּבְיומֵיכון וּבְחַיֵּי דְכָל בֵּית יִשרָאֵל בַּעֲגָלָא וּבִזְמַן קָרִיב, וְאִמְרוּ אָמֵן:
          <span style="background-color: #ffff99;">[אמן]</span>
        </p>
        <p dir="rtl">
          <span style="background-color: #ffff99;">יְהֵא שְׁמֵהּ רַבָּא מְבָרַךְ לְעָלַם וּלְעָלְמֵי עָלְמַיָּא:&nbsp;יִתְבָּרַךְ</span> וְיִשְׁתַּבַּח וְיִתְפָּאַר וְיִתְרומַם וְיִתְנַשּא וְיִתְהַדָּר וְיִתְעַלֶּה וְיִתְהַלָּל שְׁמֵהּ דְּקֻדְשָׁא. בְּרִיךְ הוּא.
          <span style="background-color: #ffff99;">[אמן]</span>
        </p>
        <p dir="rtl">לְעֵלָּא מִן כָּל בִּרְכָתָא וְשִׁירָתָא תֻּשְׁבְּחָתָא וְנֶחֱמָתָא דַּאֲמִירָן בְּעָלְמָא. וְאִמְרוּ אָמֵן:
          <span style="background-color: #ffff99;">[אמן]</span>
        </p>
        <p dir="rtl">יְהֵא שְׁלָמָא רַבָּא מִן שְׁמַיָּא וְחַיִּים עָלֵינוּ וְעַל כָּל יִשרָאֵל. וְאִמְרוּ אָמֵן:
          <span style="background-color: #ffff99;">[אמן]</span>
        </p>
        <p dir="rtl">עושה שָׁלום&nbsp;בִּמְרומָיו, הוּא בִּמְרומָיו&nbsp;יַעֲשה שָׁלום עָלֵינוּ, וְעַל כָּל יִשרָאֵל וְאִמְרוּ אָמֵן:
          <span style="background-color: #ffff99;">[אמן]</span>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
