<ion-view title="Prayer Times" id="page7">
  <ion-content padding="false" class="has-header" >
    <form id="prayerTimes-form7" class="list">
      <div class="item item-input" id="prayerTimes-search5">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search by City" id="searchTextFieldPrayer" placeholder="Search by Address, City, Zip" data-tap-disabled="true" ng-change='disableTap()' ng-model="search">
        <i id="demo" ng-click="clearsearch()" class="icon ion-close placeholder-icon" style="margin-right: 10px"></i>

      </div>
      <div id="prayerTimes-container40" class="padding">
        <form id="prayerTimes-form11" class="list">
          <!-- {{prayerMode}}{{prayerDate}} -->
          <ion-toggle toggle-class="toggle-positive" ng-change="datachange({{prayerMode}})"  id="prayerTimes-toggle9" ng-model="prayerMode">Basic Mode</ion-toggle>
          
          <!--Commenting Out Date for Non-Operability-->
          <!--
            <label class="item item-input" id="prayerTimes-input13">
              <span class="input-label">Date</span>
              <input type="date" class="dateField" ng-model="prayerDate">
            </label> 
          -->
        
        </form>
        <input type="button" class="prayerButtons" ng-click="clear()" value="Clear">
        <input type="button" class="prayerButtons" ng-click="searchCall()" value="Search">
      </div>
      <hr style="margin-top:40px;">
      <div ng-repeat="(property,value) in prayerData">
        </div>
    <ion-spinner name="crescent"  ng-if="loading" >Loading</ion-spinner>
      <table class="table">
        <tr ng-repeat="(property,value) in prayerData">
          <td style="width:60%">{{property}}</td>
          <td style="width:30%">{{value}}</td>
        </tr>
      </table>
    </form>
  </ion-content>
</ion-view>
