<ion-view title="Privacy Policy" id="page18">
  <ion-content padding="true" class="has-header">
    <div data-custom-class="body">
      <p style="font-size: 15px;">
        <strong>
          <span style="font-size: 26px;">
            <span data-custom-class="title">PRIVACY POLICY</span>
          </span>
        </strong>
      </p>
      <p style="font-size: 15px;">
        <span style="color: #7f7f7f;">
          <strong>
            <span data-custom-class="subtitle">Last updated January 01, 2019&nbsp;</span>
          </strong>&nbsp;</span>
      </p>
      <p style="font-size: 15px; line-height: 0.5;">&nbsp;</p>
      <p style="font-size: 15px; line-height: 0.5;">&nbsp;</p>
      <p style="font-size: 15px; line-height: 0.5;">&nbsp;</p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="color: #595959;">
          <span data-custom-class="body_text">Thank you for choosing to be part of our community at Siddur Cloud LLC (“
            <strong>Company</strong>”, “
            <strong>we</strong>”, “
            <strong>us</strong>”, or “
            <strong>our</strong>”). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy or our practices with regards to your personal information, please contact us at admin@siddurcloud.com.</span>
        </span>
      </p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="color: #595959;">
          <span data-custom-class="body_text">When you visit our websites&nbsp;https://siddurcloud.com&nbsp;and sub-domains, mobile application, and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy notice, we describe our
            privacy policy. We seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there
            are any terms in this privacy policy that you do not agree with, please discontinue use of our Sites or Apps and our services.</span>
        </span>
      </p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="color: #595959;">
          <span data-custom-class="body_text">This privacy policy applies to all information collected through our websites (such as https://siddurcloud.com), mobile application,</span>
        </span>
        <span data-custom-class="body_text">&nbsp;</span>
        <span style="color: #595959;">
          <span data-custom-class="body_text">("
            <strong>Apps</strong>"), and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the "
            <strong>Sites</strong>").&nbsp;</span>
        </span>
      </p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="color: #595959;">
          <strong>
            <span data-custom-class="body_text">Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us.&nbsp;</span>
          </strong>&nbsp;</span>
      </p>
      <p style="font-size: 15px;">
        <span style="color: #595959;">&nbsp;</span>
      </p>
      <p style="font-size: 15px;">
        <span style="color: #000000;">
          <strong>
            <span style="font-size: 19px;">
              <span data-custom-class="heading_1">TABLE OF CONTENTS</span>
            </span>&nbsp;</strong>&nbsp;</span>
      </p>
      <p style="font-size: 15px;">
        <a href="#infocollect" data-custom-class="link">
          <span style="color: #595959;">1. WHAT INFORMATION DO WE COLLECT?</span>
        </a>
      </p>
      <p style="font-size: 15px;">
        <a href="#infouse" data-custom-class="link">
          <span style="color: #595959;">2. HOW DO WE USE YOUR INFORMATION?</span>
        </a>
      </p>
      <p style="font-size: 15px;">
        <span style="color: #595959;">
          <a href="#infoshare" data-custom-class="link">3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</a> &nbsp;</span>
      </p>
      <p style="font-size: 15px;">
        <span style="color: #595959;">
          <a href="#whoshare" data-custom-class="link">4. WHO WILL YOUR INFORMATION BE SHARED WITH?</a>
        </span>
        <span style="font-size: 15px; color: #595959;">&nbsp; &nbsp;</span>
      </p>
      <p style="font-size: 15px;">
        <a href="#cookies" data-custom-class="link">
          <span style="font-size: 15px; color: #595959;">5. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</span>
        </a>
        <span style="font-size: 15px; color: #595959;">&nbsp;</span>
        <span style="color: #595959;">
          <span style="color: #595959;">&nbsp;&nbsp;</span>
        </span>
      </p>
      <p style="font-size: 15px;">
        <a href="#googlemaps" data-custom-class="link">
          <span style="color: #595959;">6. DO WE USE GOOGLE MAPS?</span>
        </a>
        <span style="color: #595959;">
          <span style="color: #595959;">
            <span style="color: #595959;">&nbsp; &nbsp;</span>
          </span> &nbsp;</span>
      </p>
      <p style="font-size: 15px;">
        <a href="#inforetain" data-custom-class="link">
          <span style="color: #595959;">7. HOW LONG DO WE KEEP YOUR INFORMATION?</span>
        </a>
      </p>
      <p style="font-size: 15px;">
        <a href="#infosafe" data-custom-class="link">
          <span style="color: #595959;">8. HOW DO WE KEEP YOUR INFORMATION SAFE?</span>
        </a>
        <span style="color: #595959;">&nbsp;&nbsp;</span>
      </p>
      <p style="font-size: 15px;">
        <a href="#infominors" data-custom-class="link">
          <span style="color: #595959;">9. DO WE COLLECT INFORMATION FROM MINORS?</span>
        </a> &nbsp;</p>
      <p style="font-size: 15px;">
        <a href="#privacyrights" data-custom-class="link">
          <span style="color: #595959;">10. WHAT ARE YOUR PRIVACY RIGHTS?</span>
        </a>
      </p>
      <p style="font-size: 15px;">
        <a href="#DNT" data-custom-class="link">
          <span style="color: #595959;">11. CONTROLS FOR DO-NOT-TRACK FEATURES</span>
        </a>
        <span style="color: #595959;">&nbsp;</span>
      </p>
      <p style="font-size: 15px;">
        <a href="#caresidents" data-custom-class="link">
          <span style="color: #595959;">12. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</span>
        </a>
        <span style="color: #595959;">&nbsp;</span>
      </p>
      <p style="font-size: 15px;">
        <a href="#policyupdates" data-custom-class="link">
          <span style="color: #595959;">13. DO WE MAKE UPDATES TO THIS POLICY?</span>
        </a>
      </p>
      <p style="font-size: 15px;">
        <a href="#contact" data-custom-class="link">
          <span style="color: #595959;">14. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</span>
        </a>
      </p>
      <p style="font-size: 15px;">
        <span style="color: #595959;">&nbsp;</span>
      </p>
      <p id="infocollect" style="font-size: 15px;">
        <span style="color: #000000;">
          <strong>
            <span style="font-size: 19px;">
              <span data-custom-class="heading_1">1. WHAT INFORMATION DO WE COLLECT?</span>
            </span>&nbsp;</strong>&nbsp;</span>
      </p>
      <p style="font-size: 15px;">&nbsp;&nbsp;</p>
      <p style="font-size: 15px;">
        <span style="color: #000000;">
          <strong>
            <span data-custom-class="heading_2">Information automatically collected</span>
          </strong>&nbsp;</span>
      </p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="color: #595959;">
          <strong>
            <em>
              <span data-custom-class="body_text">In Short:</span>
            </em>&nbsp;</strong>
          <em>
            <span data-custom-class="body_text">Some information – such as IP address and/or browser and device characteristics – is collected automatically when you visit our Sites or Apps.</span>
          </em>
        </span>
      </p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="color: #595959;">
          <span data-custom-class="body_text">We automatically collect certain information when you visit, use or navigate the Sites or Apps. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such
            as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Sites or Apps and other technical information. This
            information is primarily needed to maintain the security and operation of our Sites or Apps, and for our internal analytics and reporting purposes.</span>
        </span>
      </p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="color: #595959;">
          <span data-custom-class="body_text">Like many businesses, we also collect information through cookies and similar technologies. </span> &nbsp;</span>&nbsp;</p>
      <p style="font-size: 15px;">
        <span style="color: #000000;">
          <strong>
            <span data-custom-class="heading_2">Information collected through our Apps</span>
          </strong>&nbsp;</span>
      </p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="color: #595959;">
          <strong>
            <span style="font-size: 15px;">
              <em>
                <span data-custom-class="body_text">In Short:</span>
              </em>&nbsp;</span>&nbsp;</strong>
          <em>
            <span style="font-size: 15px;">
              <span data-custom-class="body_text">We may collect information regarding your geo-location, mobile device
                <span style="font-size: 15px;">
                  <span style="font-size: 15px;">&nbsp;</span>
                </span>
              </span>when you use our apps.</span>
          </em>
        </span>
      </p>
      <p style="font-size: 15px;">
        <span style="font-size: 15px;">
          <span style="color: #595959;">
            <span data-custom-class="body_text">If you use our Apps, we may also collect the following information:</span> &nbsp;</span>&nbsp;</span>
      </p>
      <ul>
        <li>
          <span style="font-size: 15px;">
            <span style="color: #595959;">
              <em>
                <span data-custom-class="body_text">Geo-Location Information.</span>
              </em>
              <span data-custom-class="body_text">&nbsp;We may request access or permission to and track location-based information from your mobile device, either continuously or while you are using our mobile application, to provide location-based services. If you wish to change our access
                or permissions, you may do so in your device’s settings.</span>
              <span style="font-size: 15px;">
                <span style="color: #595959;">
                  <span data-custom-class="body_text"> &nbsp;</span>
                </span>&nbsp;</span>&nbsp;</span> &nbsp;</span>&nbsp;&nbsp;
          <br>
          <br>
        </li>
        <li>
          <span style="font-size: 15px;">
            <span style="color: #595959;">
              <em>
                <span data-custom-class="body_text">Mobile Device Data.</span>
              </em>
              <span data-custom-class="body_text">&nbsp;We may automatically collect device information (such as your mobile device ID, model, and manufacturer), operating system, version information, and IP address.
                <span style="font-size: 15px;">
                  <span style="color: #595959;">&nbsp;</span>
                </span>
              </span>
            </span>&nbsp;</span>&nbsp;&nbsp;&nbsp;
          <span style="color: #595959;">
            <br>
          </span>
        </li>
      </ul>
      <p style="font-size: 15px;">
        <span style="color: #000000;">
          <strong>
            <span data-custom-class="heading_2">Information collected from other sources</span>
          </strong>&nbsp;</span>
      </p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="color: #595959;">
          <strong>
            <em>
              <span style="font-size: 15px;">
                <span data-custom-class="body_text">In Short:</span>
              </span>&nbsp;</em>&nbsp;</strong>
          <span style="font-size: 15px;">
            <em>
              <span data-custom-class="body_text">We may collect limited data from public databases, marketing partners, and other outside sources.&nbsp;</span>
            </em>&nbsp;</span>&nbsp;</span>
      </p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="color: #595959; font-size: 15px;">
          <span data-custom-class="body_text">We may obtain information about you from other sources, such as public databases, joint marketing partners, as well as from other third parties. Examples of the information we receive from other sources include: social media profile information</span>
        </span>
        <span data-custom-class="body_text">; marketing leads and search results and links, including paid listings (such as sponsored links).</span>
        <span style="color: #595959; font-size: 15px;">
          <span data-custom-class="body_text">&nbsp;&nbsp;</span>
        </span>
      </p>
      <div>&nbsp;</div>
      <p id="infouse" style="font-size: 15px;">
        <span style="color: #000000;">
          <strong>
            <span style="font-size: 19px;">
              <span data-custom-class="heading_1">2. HOW DO WE USE YOUR INFORMATION?</span>
            </span>&nbsp;</strong>&nbsp;</span>
      </p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="color: #595959;">
          <strong>
            <em>
              <span style="font-size: 15px;">
                <span data-custom-class="body_text">In Short:</span>
              </span>&nbsp;</em>&nbsp;</strong>
          <span style="font-size: 15px;">
            <em>
              <span data-custom-class="body_text">We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.</span>
            </em>&nbsp;</span>&nbsp;</span>
      </p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="font-size: 15px;">
          <span style="color: #595959;">
            <span data-custom-class="body_text">We use personal information collected via our Sites or Apps for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into
              or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below.&nbsp;</span>
          </span>&nbsp;</span>
      </p>
      <p style="font-size: 15px;">
        <span style="font-size: 15px;">
          <span style="color: #595959;">
            <span data-custom-class="body_text">We use the information we collect or receive: </span>
          </span>&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
        <br>
      </p>
      <ul>
        <li>
          <span style="color: #595959; font-size: 15px;">
            <strong>
              <span data-custom-class="body_text">For other Business Purposes.</span>
            </strong>
            <span data-custom-class="body_text">&nbsp;We may use your information for other Business Purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Sites or Apps, products, services, marketing,
              and your experience.</span>
            <span style="font-size: 15px;">
              <span style="color: #595959;">
                <span style="font-size: 15px;">
                  <span style="color: #595959;">
                    <span style="font-size: 15px;">
                      <span style="color: #595959;">
                        <span style="font-size: 15px;">
                          <span style="color: #595959;">
                            <span style="font-size: 15px;">
                              <span style="color: #595959;">
                                <span style="font-size: 15px;">
                                  <span style="color: #595959;">
                                    <span style="font-size: 15px;">
                                      <span style="color: #595959;">
                                        <span style="font-size: 15px;">
                                          <span style="color: #595959;">
                                            <span style="font-size: 15px;">
                                              <span style="color: #595959;">
                                                <span style="font-size: 15px;">
                                                  <span style="color: #595959;">
                                                    <span style="font-size: 15px;">
                                                      <span style="color: #595959;">
                                                        <span style="font-size: 15px;">
                                                          <span style="color: #595959;">
                                                            <span style="font-size: 15px;">
                                                              <span style="color: #595959;">
                                                                <span data-custom-class="body_text">&nbsp;</span>
                                                                <span style="color: #595959; font-size: 15px;">
                                                                  <span data-custom-class="body_text">&nbsp;</span>
                                                                </span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>
        </li>
      </ul>
      <div>&nbsp;</div>
      <p id="infoshare" style="font-size: 15px;">
        <span style="color: #000000;">
          <strong>
            <span style="font-size: 19px;">
              <span data-custom-class="heading_1">3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</span>
            </span>&nbsp;</strong>&nbsp;</span>
      </p>
      <p style="font-size: 15px; text-align: justify;">
        <span style="color: #595959;">
          <strong>
            <em>
              <span style="font-size: 15px;">
                <span data-custom-class="body_text">In Short:</span>
              </span>&nbsp;</em>&nbsp;</strong>
          <span style="font-size: 15px;">
            <em>
              <span data-custom-class="body_text">We only share information with your consent, to comply with laws, to protect your rights, or to fulfill business obligations.&nbsp;</span>
            </em>&nbsp;</span>&nbsp;</span>
      </p>
      <div>&nbsp;</div>
      <div>
        <span style="color: #595959; font-size: 15px;">
          <span data-custom-class="body_text">We may process or share data based on the following legal basis:</span>
        </span>
      </div>
      <ul>
        <li>
          <span data-custom-class="body_text">
            <span style="color: #595959; font-size: 15px;">
              <strong>Consent:</strong> We may process your data if you have given us specific consent to use your personal information in a specific purpose.&nbsp;</span>
            <br>
            <br>
          </span>
        </li>
        <li>
          <span data-custom-class="body_text">
            <span style="color: #595959; font-size: 15px;">
              <strong>Legitimate Interests:</strong> We may process your data when it is reasonably necessary to achieve our legitimate business interests.&nbsp;</span>
            <br>
            <br>
          </span>
        </li>
        <li>
          <span data-custom-class="body_text">
            <span style="color: #595959; font-size: 15px;">
              <strong>Performance of a Contract:&nbsp;</strong>Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract.&nbsp;</span>
            <br>
            <br>
          </span>
        </li>
        <li>
          <span data-custom-class="body_text">
            <span style="color: #595959; font-size: 15px;">
              <strong>Legal Obligations:</strong> We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response
              to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).&nbsp;</span>
            <br>
            <br>
          </span>
        </li>
        <li>
          <span style="color: #595959; font-size: 15px;">
            <span data-custom-class="body_text">
              <strong>Vital Interests:</strong> We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to
              the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</span>
          </span>
        </li>
      </ul>
      <p style="font-size: 15px;">
        <span style="font-size: 15px;">
          <span style="color: #595959;">
            <span data-custom-class="body_text">More specifically, we may need to process your data or share your personal information in the following situations:</span>
          </span>&nbsp;</span>
        <span style="font-size: 15px;">
          <span style="color: #595959;">
            <span data-custom-class="body_text">&nbsp;</span>
          </span>&nbsp;</span>
      </p>
      <ul>
        <li>
          <span style="font-size: 15px;">
            <span style="color: #595959;">
              <strong>
                <span data-custom-class="body_text">Vendors, Consultants, and Other Third-Party Service Providers.</span>
              </strong>
              <span data-custom-class="body_text">&nbsp;We may share your data with third party vendors, service providers, contractors or agents who perform services for us or on our behalf and require access to such information to do that work. Examples include: payment processing, data
                analysis, email delivery, hosting services, customer service, and marketing efforts. We may allow selected third parties to use tracking technology on the Sites or Apps, which will enable them to collect data about how you interact with
                the Sites or Apps over time. This information may be used to, among other things, analyze and track data, determine the popularity of certain content and better understand online activity. Unless described in this Policy, we do not share,
                sell, rent or trade any of your information with third parties for their promotional purposes.</span>
              <span style="font-size: 15px;">
                <span style="color: #595959;">
                  <span data-custom-class="body_text">&nbsp;</span>
                </span>&nbsp;</span>&nbsp;</span>&nbsp;</span>
          <br>
          <br>
        </li>
        <li>
          <span style="font-size: 15px;">
            <span style="color: #595959;">
              <strong>
                <span data-custom-class="body_text">Business Transfers.</span>
              </strong>
              <span data-custom-class="body_text">&nbsp;We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company. &nbsp;</span>
            </span>&nbsp;</span>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <span style="font-size: 15px;">
            <span style="color: #595959;">
              <span data-custom-class="body_text"> &nbsp;</span>
            </span>&nbsp;</span>&nbsp;</li>
      </ul>
      <div>&nbsp;</div>
      <div>
        <p id="whoshare" style="font-size: 15px;">
          <span style="color: #000000;">
            <strong>
              <span style="font-size: 19px;">
                <span data-custom-class="heading_1">4. WHO WILL YOUR INFORMATION BE SHARED WITH?</span>
              </span>&nbsp;</strong>&nbsp;</span>
        </p>
      </div>
      <div>
        <span style="color: #595959;">
          <strong>
            <em>
              <span style="font-size: 15px;">
                <span data-custom-class="body_text">In Short:</span>
              </span>&nbsp;</em>&nbsp;</strong>
          <span style="font-size: 15px;">
            <em>
              <span data-custom-class="body_text">We only share information with the following third parties.</span>
            </em>&nbsp;</span>&nbsp;</span>
      </div>
      <div>
        <span style="color: #595959;">
          <span style="font-size: 15px;">&nbsp;</span>&nbsp;</span>
      </div>
      <div>
        <span style="font-size: 15px;">
          <span style="color: #595959;">
            <span data-custom-class="body_text">We only share and disclose your information with the following third parties. We have categorized each party so that you may easily understand the purpose of our data collection and processing practices. If we have processed your data based
              on your consent and you wish to revoke your consent, please contact us.</span>
          </span> &nbsp;</span>
      </div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <div>
                      <div>
                        <div>
                          <div>
                            <div>
                              <div>&nbsp;</div>
                              <ul>
                                <li>
                                  <span style="font-size: 15px;">
                                    <span style="color: #595959;">
                                      <span data-custom-class="body_text">
                                        <strong>Web and Mobile Analytics</strong>
                                      </span>
                                    </span>
                                  </span>
                                  <br>
                                  <span style="font-size: 15px;">
                                    <span style="color: #595959;">
                                      <span data-custom-class="body_text">
                                        <span style="font-size: 15px;">
                                          <span style="color: #595959;">Google Analytics</span>
                                        </span>
                                      </span>
                                    </span>
                                  </span>
                                </li>
                              </ul>
                              <div>&nbsp;</div>
                              <ul>
                                <li>
                                  <span style="font-size: 15px;">
                                    <span style="color: #595959;">
                                      <span data-custom-class="body_text">
                                        <strong>Website Hosting</strong>
                                      </span>
                                    </span>
                                  </span>
                                  <br>
                                  <span style="font-size: 15px;">
                                    <span style="color: #595959;">
                                      <span data-custom-class="body_text">
                                        <span style="font-size: 15px;">
                                          <span style="color: #595959;">Hostgator.com</span>
                                        </span>
                                      </span>
                                    </span>
                                  </span>
                                </li>
                              </ul>
                              <div>
                                <div>&nbsp;</div>
                                <ul>
                                  <li>
                                    <span style="font-size: 15px;">
                                      <span style="color: #595959;">
                                        <span data-custom-class="body_text">
                                          <strong>Website Testing</strong>
                                        </span>
                                      </span>
                                    </span>
                                    <br>
                                    <span style="font-size: 15px;">
                                      <span style="color: #595959;">
                                        <span data-custom-class="body_text">
                                          <span style="font-size: 15px;">
                                            <span style="color: #595959;">TestFlight</span>
                                          </span>
                                        </span>
                                      </span>
                                    </span>
                                  </li>
                                </ul>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div>
                                  <span id="cookies" style="color: #000000;">
                                    <strong>
                                      <span style="font-size: 19px;">
                                        <span data-custom-class="heading_1">5. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</span>
                                      </span>&nbsp;</strong>&nbsp;</span>
                                </div>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959;">
                                    <strong>
                                      <em>
                                        <span style="font-size: 15px;">
                                          <span data-custom-class="body_text">In Short:</span>
                                        </span>&nbsp;</em>&nbsp;</strong>
                                    <span style="font-size: 15px;">
                                      <em>
                                        <span data-custom-class="body_text">We may use cookies and other tracking technologies to collect and store your information.</span>
                                      </em>&nbsp;</span>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959; font-size: 15px;">
                                    <span data-custom-class="body_text">We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set
                                      out in our Cookie Policy.</span>
                                  </span>
                                </p>
                                <p style="font-size: 15px;">&nbsp;</p>
                                <p id="googlemaps" style="font-size: 15px;">
                                  <span style="color: #000000;">
                                    <strong>
                                      <span style="font-size: 19px;">
                                        <span data-custom-class="heading_1">6. DO WE USE GOOGLE MAPS?</span>
                                      </span>&nbsp;</strong>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959;">
                                    <strong>
                                      <em>
                                        <span style="font-size: 15px;">
                                          <span data-custom-class="body_text">In Short:</span>
                                        </span>&nbsp;</em>&nbsp;</strong>
                                    <span style="font-size: 15px;">
                                      <em>
                                        <span data-custom-class="body_text">Yes, we use Google Maps for the purpose of providing better service.</span>
                                      </em>&nbsp;</span>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="font-size: 15px;">
                                    <span style="color: #595959;">
                                      <span data-custom-class="body_text">This website, mobile application, or Facebook application uses Google Maps APIs. You may find the Google Maps APIs Terms of Service&nbsp;</span>
                                    </span>
                                    <span data-custom-class="body_text">
                                      <span style="color: #3030f1;">
                                        <a href="https://developers.google.com/maps/terms" data-custom-class="link">here</a>
                                      </span>
                                      <span style="color: #595959;">. To better understand Google’s Privacy Policy, please refer to this&nbsp;</span>
                                      <span style="color: #3030f1;">
                                        <a href="https://policies.google.com/privacy" data-custom-class="link">link</a>
                                      </span>
                                    </span>
                                    <span style="color: #595959;">
                                      <span data-custom-class="body_text">.&nbsp;</span>
                                    </span>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="font-size: 15px;">
                                    <span style="color: #595959;">
                                      <span data-custom-class="body_text">By using our Maps API Implementation, you agree to be bound by Google’s Terms of Service. </span>
                                    </span>
                                  </span>
                                  <span style="color: #595959; font-size: 15px;">
                                    <span style="color: #595959; font-size: 15px;">
                                      <span style="color: #595959; font-size: 15px;">
                                        <span style="font-size: 15px;">
                                          <span style="color: #595959;">
                                            <span style="font-size: 15px;">&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;&nbsp;</p>
                                <p style="font-size: 15px;">
                                  <span style="color: #595959;">&nbsp;</span>
                                </p>
                                <p id="inforetain" style="font-size: 15px;">
                                  <span style="color: #000000;">
                                    <strong>
                                      <span style="font-size: 19px;">
                                        <span data-custom-class="heading_1">7. HOW LONG DO WE KEEP YOUR INFORMATION?</span>
                                      </span>&nbsp;</strong>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959;">
                                    <strong>
                                      <em>
                                        <span style="font-size: 15px;">
                                          <span data-custom-class="body_text">In Short:</span>
                                        </span>&nbsp;</em>&nbsp;</strong>
                                    <span style="font-size: 15px;">
                                      <em>
                                        <span data-custom-class="body_text">We keep your information for as long as necessary to fulfill the purposes outlined in this privacy policy unless otherwise required by law.</span>
                                      </em>&nbsp;</span>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="font-size: 15px;">
                                    <span style="color: #595959;">
                                      <span data-custom-class="body_text">We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy policy unless a longer retention period is required or permitted by law (such as tax, accounting
                                        or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than 2 years.</span>
                                    </span>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959; font-size: 15px;">
                                    <span data-custom-class="body_text">When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, if this is not possible (for example, because your personal information has been stored
                                      in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</span>
                                  </span>
                                </p>
                                <p style="font-size: 15px;">
                                  <span style="color: #595959;">&nbsp;</span>
                                </p>
                                <p id="infosafe" style="font-size: 15px;">
                                  <span style="color: #000000;">
                                    <strong>
                                      <span style="font-size: 19px;">
                                        <span data-custom-class="heading_1">8. HOW DO WE KEEP YOUR INFORMATION SAFE?&nbsp;</span>
                                      </span>&nbsp;</strong>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959;">
                                    <strong>
                                      <em>
                                        <span style="font-size: 15px;">
                                          <span data-custom-class="body_text">In Short:</span>
                                        </span>&nbsp;</em>&nbsp;</strong>
                                    <span style="font-size: 15px;">
                                      <em>
                                        <span data-custom-class="body_text">We aim to protect your personal information through a system of organizational and technical security measures.</span>
                                      </em>&nbsp;</span>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959; font-size: 15px;">
                                    <span data-custom-class="body_text">We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the
                                      internet itself is 100% secure. Although we will do our best to protect your personal information, transmission of personal information to and from our Sites or Apps is at your own risk. You should only access the
                                      services within a secure environment.&nbsp;</span>
                                  </span>
                                </p>
                                <p style="font-size: 15px;">
                                  <span style="color: #595959;">&nbsp;</span>
                                </p>
                                <p id="infominors" style="font-size: 15px;">
                                  <span style="color: #000000;">
                                    <strong>
                                      <span style="font-size: 19px;">
                                        <span data-custom-class="heading_1">9. DO WE COLLECT INFORMATION FROM MINORS?</span>
                                      </span>&nbsp;</strong>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959;">
                                    <strong>
                                      <em>
                                        <span style="font-size: 15px;">
                                          <span data-custom-class="body_text">In Short:</span>
                                        </span>&nbsp;</em>&nbsp;</strong>
                                    <span style="font-size: 15px;">
                                      <em>
                                        <span data-custom-class="body_text">We do not knowingly collect data from or market to children under 18 years of age.</span>
                                      </em>&nbsp;</span>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959; font-size: 15px;">
                                    <span data-custom-class="body_text">We do not knowingly solicit data from or market to children under 18 years of age. By using the Sites or Apps, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent
                                      to such minor dependent’s use of the Sites or Apps. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly
                                      delete such data from our records. If you become aware of any data we have collected from children under age 18, please contact us at admin@siddurcloud.com.</span>
                                    <span style="color: #595959; font-size: 15px;">
                                      <span data-custom-class="body_text">&nbsp;</span>
                                    </span>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px;">
                                  <span style="color: #595959;">&nbsp;</span>
                                </p>
                                <p id="privacyrights" style="font-size: 15px;">
                                  <span style="color: #000000;">
                                    <strong>
                                      <span style="font-size: 19px;">
                                        <span data-custom-class="heading_1">10. WHAT ARE YOUR PRIVACY RIGHTS?</span>
                                      </span>&nbsp;</strong>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959;">
                                    <strong>
                                      <em>
                                        <span style="font-size: 15px;">
                                          <span data-custom-class="body_text">In Short:</span>
                                        </span>&nbsp;</em>&nbsp;</strong>
                                    <span style="font-size: 15px;">
                                      <span data-custom-class="body_text">
                                        <em>You may review, change, or terminate your account at any time.</em>
                                      </span>
                                    </span>
                                  </span>&nbsp;&nbsp;&nbsp;</p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="font-size: 15px;">
                                    <span style="color: #595959;">
                                      <span data-custom-class="body_text">If you are resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You
                                        can find their contact details here:</span>
                                    </span>&nbsp;</span>
                                  <span data-custom-class="body_text">
                                    <span style="color: #3030f1;">
                                      <a href="https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm" data-custom-class="link">
                                        <span style="font-size: 15px;">https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</span>
                                      </a>&nbsp;</span>&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="font-size: 15px;">
                                    <span style="color: #595959;">
                                      <strong>
                                        <u>
                                          <span data-custom-class="body_text">Cookies and similar technologies:</span>
                                        </u>&nbsp;</strong>
                                      <span data-custom-class="body_text">Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could
                                        affect certain features or services of our Sites or Apps. To opt-out of interest-based advertising by advertisers on our Sites or </span>
                                    </span>&nbsp;</span>
                                  <span style="color: #595959;">
                                    <span data-custom-class="body_text">Apps visit&nbsp;</span>
                                  </span>
                                  <a href="https://www.aboutads.info/choices/">https://www.aboutads.info/choices/</a>.
                                  <span style="font-size: 15px;">
                                    <span style="color: #595959;">
                                      <span data-custom-class="body_text">
                                        <span style="font-size: 15px;">
                                          <span style="color: #595959;">
                                            <span style="font-size: 15px;">
                                              <span style="color: #595959;">&nbsp;</span>&nbsp;</span>&nbsp;</span>&nbsp;</span>
                                      </span>
                                    </span>&nbsp;</span>&nbsp;</p>
                                <div>&nbsp;</div>
                                <p id="DNT" style="font-size: 15px;">
                                  <span style="color: #000000;">
                                    <strong>
                                      <span style="font-size: 19px;">
                                        <span data-custom-class="heading_1">11. CONTROLS FOR DO-NOT-TRACK FEATURES</span>
                                      </span>&nbsp;</strong>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959;">
                                    <span style="font-size: 15px;">
                                      <span data-custom-class="body_text">Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (“DNT”) feature or setting you can activate to signal your privacy preference not to have data about your online browsing
                                        activities monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism
                                        that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of
                                        this Privacy Policy.</span>
                                    </span>&nbsp;</span>
                                </p>
                                <div>&nbsp;</div>
                                <p id="caresidents" style="font-size: 15px;">
                                  <span style="color: #000000;">
                                    <strong>
                                      <span style="font-size: 19px;">
                                        <span data-custom-class="heading_1">12. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</span>
                                      </span>&nbsp;</strong>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959;">
                                    <strong>
                                      <em>
                                        <span style="font-size: 15px;">
                                          <span data-custom-class="body_text">In Short:</span>
                                        </span>&nbsp;</em>&nbsp;</strong>
                                    <span style="font-size: 15px;">
                                      <em>
                                        <span data-custom-class="body_text">Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information.&nbsp;</span>
                                      </em>&nbsp;</span>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="font-size: 15px;">
                                    <span style="color: #595959;">
                                      <span data-custom-class="body_text">California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories
                                        of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding
                                        calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.</span>
                                    </span>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959; font-size: 15px;">
                                    <span data-custom-class="body_text">If you are under 18 years of age, reside in California, and have a registered account with the Sites or Apps, you have the right to request removal of unwanted data that you publicly post on the Sites or Apps. To request
                                      removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the
                                      data is not publicly displayed on the Sites or Apps, but please be aware that the data may not be completely or comprehensively removed from our systems.</span>
                                  </span>
                                </p>
                                <p style="font-size: 15px;">
                                  <span style="color: #595959;">&nbsp;</span>
                                </p>
                                <p id="policyupdates" style="font-size: 15px;">
                                  <span style="color: #000000;">
                                    <strong>
                                      <span style="font-size: 19px;">
                                        <span data-custom-class="heading_1">13. DO WE MAKE UPDATES TO THIS POLICY?</span>
                                      </span>&nbsp;</strong>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959;">
                                    <strong>
                                      <em>
                                        <span style="font-size: 15px;">
                                          <span data-custom-class="body_text">In Short:</span>
                                        </span>&nbsp;</em>&nbsp;</strong>
                                    <span style="font-size: 15px;">
                                      <em>
                                        <span data-custom-class="body_text">Yes, we will update this policy as necessary to stay compliant with relevant laws.</span>
                                      </em>&nbsp;</span>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959; font-size: 15px;">
                                    <span data-custom-class="body_text">We may update this privacy policy from time to time. The updated version will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. If we make material changes
                                      to this privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy policy frequently to be informed
                                      of how we are protecting your information.&nbsp;</span>
                                  </span>
                                </p>
                                <p style="font-size: 15px;">
                                  <span style="color: #595959;">&nbsp;</span>
                                </p>
                                <p id="contact" style="font-size: 15px;">
                                  <span style="color: #000000;">
                                    <strong>
                                      <span style="font-size: 19px;">
                                        <span data-custom-class="heading_1">14. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</span>
                                      </span>&nbsp;</strong>&nbsp;</span>
                                </p>
                                <p style="font-size: 15px; text-align: justify;">
                                  <span style="color: #595959; font-size: 15px;">
                                    <span data-custom-class="body_text">If you have questions or comments about this policy, you may email us at
                                      <a href="mailto:admin@siddurcloud.com">admin@siddurcloud.com</a>
                                    </span>
                                  </span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>