<ion-view class="toupper"  id="page19">
    <ion-nav-title>
        <span >{{title}}
     </ion-nav-title>
  <ion-content padding="false" class="has-header">

    <div style="height: 200px; width: 100%; background-color: #CCC;" id="map-canvass"></div>

    <div class="list card padding" id="SelectedShul-card21">
      <div id="SelectedShul-container41">
        <h3 id="SelectedShul-heading1" class="capitalize" style="color:#000000;">{{shulDetail.name}}</h3>
        <div id="SelectedShul-markdown10" class="show-list-numbers-and-dots">
          <p style="color:#000000;" class="capitalize">{{shulDetail.shul_nusach}}</p>

          <p style="color:#000000;">{{shulDetail.formatted_address}}</p>

          <p style="color:#000000;">{{groupedContacts.shulInfo.contact_phones[0].number}}</p>

          <p style="color:#000000;">{{shulDetail.website_url}}</p>

          <p style="color:#000000;">{{groupedContacts.shulInfo.contact_emails[0].email}}</p>

          <p style="color:#000000;" class="capitalize"><strong>{{groupedContacts.rabbi[0].title}} {{groupedContacts.rabbi[0].first_name}} {{groupedContacts.rabbi[0].last_name}}</strong>
          {{groupedContacts.rabbi[0].minyan_role}}</p>
        </div>
      </div>
    </div>
    <div class="list card" id="SelectedShul-card22">
      <div id="SelectedShul-button-bar17" class="button-bar">
        <button ng-if="shulDetail.lat !=''" id="SelectedShul-button57" ng-click="openmap()"  class="button button-light button-block icon ion-map"></button>

        <a ng-if="groupedContacts.shulInfo.contact_phones[0].number !=''"  id="SelectedShul-button58" class="button button-light button-block icon ion-ios-telephone" href="tel://{{groupedContacts.shulInfo.contact_phones[0].number}}"></a>
        <button  ng-if="shulDetail.website_url !=''" ng-click="opencustomurldetails()"  id="SelectedShul-button59" class="button button-light button-block icon ion-android-globe"></button>
        <button ng-click="shareurl()"  id="SelectedShul-button60" class="button button-light button-block icon ion-android-share-alt"></button>
      </div>
    </div>
    <ion-spinner name="crescent"  ng-if="loading" >Loading</ion-spinner>

    <div class="list card padding" id="SelectedShul-card23">
      <div>
        <table style="border-collapse: collapse; width: 100%; height: 152px;" class="table" border="1">
          <tbody>
            <tr >
              <td >
                <strong>Day</strong>
              </td>
              <td >
                <strong>Shacharit</strong>
              </td>
              <td >
                <strong>Mincha</strong>
              </td>
              <td >
                <strong>Arvit</strong>
              </td>
            </tr>
            <tr>
              <td >Sunday</td>
              <td >
                <p ng-repeat="shachris in groupedByDayMinyanim.sun.shachris">
                  {{shachris.todays_time}}
                </p>
              </td>
              <td >
                <p ng-repeat="mincha in groupedByDayMinyanim.sun.mincha">
                  {{mincha.todays_time}}
                </p>
              </td>
              <td >
                <p ng-repeat="mariv in groupedByDayMinyanim.sun.mariv">
                {{mariv.todays_time}}
              </p></td>
            </tr>
            <tr >
              <td >Monday</td>
              <td >
                <p ng-repeat="shachris in groupedByDayMinyanim.mon.shachris">
                  {{shachris.todays_time}}
                </p>
              </td>
              <td >
                <p ng-repeat="mincha in groupedByDayMinyanim.mon.mincha">
                  {{mincha.todays_time}}
                </p>
              </td>
              <td >
                <p ng-repeat="mariv in groupedByDayMinyanim.mon.mariv">
                {{mariv.todays_time}}
              </p></td>
            </tr>
            <tr >
              <td >Tuesday</td>
              <td >
                <p ng-repeat="shachris in groupedByDayMinyanim.tues.shachris">
                  {{shachris.todays_time}}
                </p>
              </td>
              <td >
                <p ng-repeat="mincha in groupedByDayMinyanim.tues.mincha">
                  {{mincha.todays_time}}
                </p>
              </td>
              <td >
                <p ng-repeat="mariv in groupedByDayMinyanim.tues.mariv">
                {{mariv.todays_time}}
              </p></td>
            </tr>
            <tr >
              <td >Wednesday</td>
              <td >
                <p ng-repeat="shachris in groupedByDayMinyanim.wed.shachris">
                  {{shachris.todays_time}}
                </p>
              </td>
              <td style="width: 25%; height: 18px;">
                <p ng-repeat="mincha in groupedByDayMinyanim.wed.mincha">
                  {{mincha.todays_time}}
                </p>
              </td>
              <td style="width: 25%; height: 18px;">
                <p ng-repeat="mariv in groupedByDayMinyanim.wed.mariv">
                {{mariv.todays_time}}
              </p></td>
            </tr>
            <tr   >
              <td >Thursday</td>
              <td >
                <p ng-repeat="shachris in groupedByDayMinyanim.thurs.shachris">
                  {{shachris.todays_time}}
                </p>
              </td>
              <td >
                <p ng-repeat="mincha in groupedByDayMinyanim.thurs.mincha">
                  {{mincha.todays_time}}
                </p>
              </td>
              <td >
                <p ng-repeat="mariv in groupedByDayMinyanim.thurs.mariv">
                {{mariv.todays_time}}
              </p></td>
            </tr>
            <tr >
              <td >Friday</td>
              <td >
                <p ng-repeat="shachris in groupedByDayMinyanim.fri.shachris">
                  {{shachris.todays_time}}
                </p>
              </td>
              <td >
                <p ng-repeat="mincha in groupedByDayMinyanim.fri.mincha">
                  {{mincha.todays_time}}
                </p>
              </td>
              <td >
                <p ng-repeat="mariv in groupedByDayMinyanim.fri.mariv">
                {{mariv.todays_time}}
              </p></td>
            </tr>
            <tr >
              <td >Saturday</td>
              <td >
                <p ng-repeat="shachris in groupedByDayMinyanim.sat.shachris">
                  {{shachris.todays_time}}
                </p>
              </td>
              <td >
                <p ng-repeat="mincha in groupedByDayMinyanim.sat.mincha">
                  {{mincha.todays_time}}
                </p>
              </td>
              <td >
                <p ng-repeat="mariv in groupedByDayMinyanim.sat.mariv">
                {{mariv.todays_time}}
              </p></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ion-content>
</ion-view>
