<ion-view title="Siddur &amp; Blessings" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon No Icon">v 0.2.5</button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <ion-list id="siddurBlessings-list2" class="manual-list-fullwidth">
      <ion-item class="item-divider" id="siddurBlessings-list-item-divider1"> Daily Prayers</ion-item>
      <ion-item class="item-avatar item-icon-right" id="siddurBlessings-list-item10" ui-sref="siddurCloud.shacharit()">
        <img src="img/4xOib28mRHW9i7RzhXrJ_132383.svg">
        <h2>Shacharit</h2>
        <p>Morning Prayer</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="siddurBlessings-list-item11" ui-sref="siddurCloud.mincha()">
        <img src="img/yWR5q8C7QrWNsRHM4xP0_132381.svg">
        <h2>Mincha</h2>
        <p>Afternoon Prayer</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="siddurBlessings-list-item12" ui-sref="siddurCloud.arvit()">
        <img src="img/DJK4YKdhTjimU5JqOp05_132382.svg">
        <h2>Arvit</h2>
        <p>Evening Prayer</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-divider" id="siddurBlessings-list-item-divider2"> </ion-item>
      <ion-item class="item-avatar item-icon-right" id="siddurBlessings-list-item16" ui-sref="siddurCloud.mournersKaddish()">
        <img src="img/3N48yqtASNO8uTiwrUV0_gbOcOLqUS0ind2XyPQNw_1480577.svg">
        <h2>Mourner's Kaddish</h2>
        <p style="white-space:normal;">Prayer recited when mourning</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="siddurBlessings-list-item18" ui-sref="siddurCloud.foodBlessings()">
        <img src="img/YUosrQRVy7hKBOYGAvsQ_xTTuRTgR3Gwi3r25EuHQ_433138.svg">
        <h2>Food Blessings</h2>
        <p>Blessings for Meals</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="siddurBlessings-list-item46" ui-sref="siddurCloud.blessingAfterABreadMeal()">
        <img src="img/fied0bwMTa2NjW2NeWab_EukFp6VYQWZ286zR26X0_927567.svg">
        <h2>Blessing after a Bread Meal</h2>
        <p style="white-space:normal;">Prayer recited after a bread meal</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="siddurBlessings-list-item17" ui-sref="siddurCloud.otherBlessings()">
        <img src="img/crRsE47qSd3dHUDkyAD1_VVddUcaoSquPJ6WyR4a7_181532.svg">
        <h2>Other Blessings</h2>
        <p>Holidays &amp; Misc Blessings</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
