
.capitalize {
  text-transform: capitalize;
}


     .pac-container {
   width: 100% !important; position: absolute; left: 0px !important; top: 85px !important;pointer-events:auto !important;

}


.inAppBrowserWrap {
  background-color:#497aa1;
  color: #497aa1;
}

.inAppBrowserWrap menu {
  overflow: auto;
  list-style-type: none;
  padding-left: 0;
}
.inAppBrowserWrap menu li {
  font-size: 25px;
  height: 25px;
  float: left;
  margin: 0 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #ccc;
  display: block;
  background:#497aa1;
}
.inAppBrowserWrap menu li.disabled {
    color: #497aa1;
}

.dateField{
  margin-left:40%!important;
  padding-right: 15px!important;
  padding:0px!important;
}

.prayerButtons{
  float:right;
  background-color: #395f7e;
    color: #fff;
    padding: 6px;
    border-radius: 10px;
    margin-top: 10px;
}

.title{
  text-transform: capitalize!important;
font-weight: bold!important;
}

.table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
      margin: auto;
      margin-top: 2%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
  word-break: break-all;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#searchTextField{
  margin-left: 10px;
}

.cardView{
  width: 90%;
  margin:auto;
  margin-top:20px;
  font-size:15px;
  font-weight:300;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.minyanFound{
  color:#1db864;
  font-size: 12px;
}

.noMinyanFound{
  color:#fa5858;
  font-size: 12px;
}

.right-arrow{
  color:#333!important;
}



/*.pagination {
  display: inline-block;


}

.pagination {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  list-style: none;
  position: relative;
  margin-left: 38%!important;


}
.pagination a{
  list-style: none;
  text-decoration: none;
  font-size: 16px!important;
  border: 1px solid;
  padding: 3px;



}
*/
/*.pagination {
  display: inline-block;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}



.pagination button:hover:not(.active) {background-color: #ddd;}*/
.pagination button.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

ion-spinner {
  display: flex!important ;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
  height: 100%!important;
  }

  .col{
    border-right: 1px solid black;

}

.shach-content{
  font-size: 19px!important;
}

.btn-group button {
  border: 1px solid green; /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
